# Flutter/Dart/Pub related files
.dart_tool/
.packages
.pub-cache/
# Ignorer tout le contenu de build
build/

# Inclure spécifiquement build/web
!build/web/

# Inclure également tous les fichiers et sous-dossiers dans build/web
!build/web/**

# Android related files
android/.gradle/
android/app/build/

# iOS related files
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# VS Code files
.vscode/

# IntelliJ related files
.idea/
*.iml

# Others
*.log
