# Flutter/Dart/Pub related files
.dart_tool/
.packages
.pub-cache/
build/

# Android related files
android/.gradle/
android/app/build/

# iOS related files
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# VS Code files
.vscode/

# IntelliJ related files
.idea/
*.iml

# Others
*.log
